.wrapper {
	min-width: 400px;

	min-height: 450px;
	padding: 40px;

	border-radius: 30px;

	background: #FFF;
	background-color: #FFF;
	box-shadow: 0 4px 40px #8CA4D8;
}

.title {
	text-transform: uppercase;

	color: #000;

	font-size: 22px;
	font-weight: 700;
}
