@import "../../assets/scss/colors.scss";

.wrapper {
	width: 100%;
	min-width: 400px;
	max-width: 400px;
	padding: 40px;
	padding-bottom: 20px;

	border-radius: 30px;

	background: #FFF;
	background-color: #FFF;
	box-shadow: 0 4px 40px $ShadowColor;

	font-family: Poppins, sans-serif;
}

.title {
	text-transform: uppercase;

	color: $MainBlack;

	font-size: 22px;
	font-weight: 700;
}

.redirect {
	text-transform: uppercase;

	color: rgb(0 0 0 / 40%);

	font-size: 11px;

	&:hover {
		text-decoration: underline;

		color: rgb(0 0 0 / 40%);
	}
}

.error {
	display: block;

	margin-top: 10px;

	text-align: center;

	color: #FF4460;

	font-family: Montserrat, sans-serif;

	font-size: 16px;
	font-weight: 800;
}
