@import "../../assets/scss/colors.scss";

.container {
	position: relative;

	height: calc(100% - 30%);
}

.filterList {
	display: flex;
	align-items: center;

	padding-left: 0;
	padding-left: 68px;

	list-style: none;
}

.filterItem {
	cursor: pointer;

	color: #1D262C;

	font-size: 18px;
	font-weight: 300;
	line-height: 27px;

	&:not(:last-child) {
		margin-right: 50px;
	}

	&:nth-child(1) {
		color: #F2994A;
	}

	&:nth-child(2) {
		color: #56CCF2;
	}

	&:nth-child(3) {
		color: #28AF60;
	}

	&:nth-child(4) {
		color: #EB5757;
	}
}

.filterItemActive {
	font-weight: 600;
}

.list {
	overflow: auto;

	height: 100%;
	margin-bottom: 0;
	padding: 0 68px;
	padding-bottom: 130px;

	list-style: none;

	&::-webkit-scrollbar-thumb {
		border: 3px solid #E0E0E0;
		border-radius: 10px;
		background-color: #E0E0E0;
	}

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		background-color: $WebBG;
	}
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}
