@import '../../assets/scss/colors.scss';

.app {
	width: 1374px;
	height: 825px;
	margin: 20px;

	padding: 45px 68px;

	border-radius: 30px;
	background: #FFF;
	box-shadow: 0 4px 40px $ShadowColor;
}
